header, .banner {
    background-color: #E8C84E;
    height: 50px;
    font-size: 130%;
    text-align: center;
}

.left-block {
    background-color: #FFB544;
    height: 500px;
    width: 40%;
    font-size: 130%;
    float: left;
}

.center-block {
    height: 500px;
    width: 30%;
    text-align: center;
    float: left;
}


.right-block {
    background-color: #FFB544;
    height: 500px;
    width: 30%;
    font-size: 130%;
    text-align: center;
    float: left;
}

footer, .footer {
    clear: both;
    background-color: #E8C84E;
    height: 50px;
    text-align: right;
    padding: 10px;
}

ul li {
    padding-top: 30px;
    background-color: #FFAA00;
}

img, h3 {
    margin-top: 50px;
}

form {
    margin-bottom: 100px;
}
